<div class="breadcrumbs" id="breadcrumbs">
  <ul class="breadcrumb">
    <li>
      <i class="ace-icon fa fa-home home-icon"></i>
      <a href="#/">Home</a>
    </li>
    <li class="active">Dashboard</li>
    <button type="button" id="logout" class="btn btn-info btn-xs pull-right" ng-click="logout();">Logout</button>
    <span class="pull-right" ng-if="username !== ''">{{username}}</span>
  </ul>
</div>
<div class="container">
  <!-- HEADER AND TODO COUNT -->
  <div class="jumbotron text-center">
    <h1>Todos<span class="label label-info">{{todos.length}}</span></h1>
  </div>
  <!-- TODO LIST -->
  <div id="todo-list" class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <!-- LOOP OVER THE TODOS IN $scope.todos -->
      <div class="checkbox" ng-repeat="todo in todos">
        <label>
          <input type="checkbox" ng-click="toggleItem(todo._id)"> {{todo.text}} 
        </label>
      </div>
    </div>
    <div class="col-sm-4 col-sm-offset-4">
      <button type="submit" class="btn btn btn-default btn-xs" ng-click="deleteTodos()" ng-disabled="selected.length == 0 || todos.length == 0">Delete</button>
    </div>
  </div>
  <!-- FORM TO CREATE TODOS -->
  <div id="todo-form" class="row">
    <div class="text-center">
      <form name="todo">
        <div class="form-group col-sm-10">
          <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
          <input type="text" class="form-control input-lg" placeholder="Insert Todo" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Insert Todo'" ng-model="formData.text" required>
        </div>
        <!-- createToDo() WILL CREATE NEW TODOS -->
        <button type="submit" class="btn btn-primary btn-lg" ng-click="createTodo()" data-ng-disabled="todo.$invalid">Add</button>
      </form>
    </div>
  </div>
  </div
